<nav
  class="fixed top-0 left-0 w-full bg-primary/40 backdrop-blur-sm z-10 shadow-md border-b border-gray-400"
>
  <div class="max-w-[1400px] mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0 text-white font-bold text-xl">OF</div>
      </div>
      <div class="hidden md:block ml-10 flex items-baseline space-x-4">
        <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-md">Discover</a>
        <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-md"
          >Categories
        </a>
        <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-md">About</a>
      </div>
      <div class="rounded-full bg-button-active hover:bg-[#a44d9e] transition-colors">
        <button class="text-white px-4 cursor-pointer py-2 rounded-md text-md">Join Now</button>
      </div>
    </div>
  </div>
</nav>
